<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Shifa</title>
   <link rel="icon" href="img/h.png" type="image/png">
    <link rel="stylesheet" href="css/styleacc.css" />
  </head>
  <body>
    <div class="container">

      <div id="image"></div>
     <div id="blanc"></div>
     <div id="signal"></div>

      <header>
        <section class="section_logo">
          <h1 class="logo">Shifa logo</h1>
          <span>votre sante en ligne</span>
        </section>
        <ul>
          <li><a href="/auth" class="btn_cnx">Connexion</a></li>
          <li><a href="/signup" class="btn_insc">S'inscrire</a></li>
        </ul>
      </header>
      
      <main>
        <h2 class="animated-text">Santé et b<span id="coeur"></span>nheur</h2>
        <p class="sous-titre">Soyez toujours en bonne santé</p>
        
        <p class="paragraphe">
          Bienvenue sur le site de l'Hôpital Shifa, dédié à votre bien-être. Dès que vous entrez dans notre univers de soins, vous serez accueilli par un symbole de confiance et d'engagement envers votre santé.
        </p>
        <!-- <a href="/auth" class="btn-main">Reserver un rendez vous</a> -->
        <!-- /patient/accueil -->
        <a href="/patient/accueil" class="btn-main">Reserver un rendez vous</a>
        <div id="contact">
          <div>
            <div id="email"></div>
            <span class="emailcontent"><a href="mailto:shifa.rdv.service@gmail.com">shifa.rdv.service@gmail.com</a></span>
          </div>

          <div>
            <div id="tl"></div>
            <span class="tlcontent"><a href="tel:0558892122">05 58 89 21 22</a></span>
          </div>

        </div>
      </main>
    </div>
  </body>
</html>
