@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  /* --lineaire: linear-gradient(to bottom, rgb(0, 187, 189) 15%,rgb(0, 130, 208) 85%);  */
  --lineaire: linear-gradient(320deg, rgb(0, 238, 255),rgb(0, 0, 0) ); 
}
  body {

  color: white;
  height: 100vh;
  background: var(--lineaire);
  position: relative;
}
.container {
  height: 100%;

 
  position: relative;

}
#image{

  height: 406px;
  width: 614px;
  background-image: url("image.png");
  background-repeat: no-repeat;
background-size: contain;
position: absolute;
right: 0;
bottom: 0;
z-index: 1;

}
 #blanc{

  height: 365px;
  width: 890px;
  background-image: url("blanc.png");
  background-repeat: no-repeat;
background-size: 100% 100%;
position: absolute;
right:0px;
bottom: 0;


 }



header {
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  width: 100px;
  height: 75px;
  text-indent: 100%;
  overflow: hidden;
  text-wrap: nowrap;
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;

}

@keyframes batement {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
span {

  align-self: center;
  font-size: 10px;
  padding-bottom: 14px;
  font-weight: 500;
}
.section_logo {
  display: flex;
  padding-left: 25px;
}
ul li {
  display: inline-block;
  padding: 0 20px;
  list-style: none;
  font-weight: 600;
}
a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin-right: 20px;
  margin-bottom: 15px;
}
main {
  width: 50%;
  margin-top:8%;
  text-align: center;
  margin-left: 20px;

}
h2 {
  font-size: 70px;
  font-family: cursive;
  margin-left: 50px;

}
p {
  font-size: 20px;

  margin-bottom: 50px;
  padding-left: 50px;
}
.sous-titre{


  font-weight: 700;

}

main a {
  background-color: #ffffff;
  color: rgb(0, 130, 208);
  border: 1px #ffffff solid;
  border-radius: 100px;
  padding: 13px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 48px;
  
  
}
main a:hover {
  color:#ffffff;
  background-color: rgb(0, 130, 208);
  border: 2px solid #ffffff;
}
.btn_insc,
.btn_cnx {
  position: relative;
}
.btn_cnx:hover::after,
.btn_insc:hover::after {
  content: "";
  position: absolute;
  height: 2px;

  background-color: #ffffff;
  bottom: -2px;
  animation: chargeBar 300ms ease-in;
  width: 100%;
  margin-left: -87px;
}
.btn_insc:hover::after {
  margin-left: -70px;
}
@keyframes chargeBar {
  from {
    width: 0;
    margin-left: -100px;
  }
  to {
    width: 100%;
    margin-left: -87px;
  }
}
/*#plus1{


  height: 100px;
  width:80px ;
  background-image: url("+.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 100px;
  right: 100px;
}
*/
#plus2{


  height: 60px;
  width:60px ;
  background-image: url("+.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
bottom: 5px;
  left: 580px;
}

#contact{

width: 100%;
height: 40px;
margin-top: 30px;
margin-left: 30px;


display: flex;
}
#email{


background-image:url("enveloppe.png") ;
height: 40px;
width: 40px;
background-repeat: no-repeat;
background-size: contain;
margin-left: 20px;


}

.emailcontent{

font-size:13px;
margin-left: 10px;
margin-top: 10px;

}
#tl{


  background-image:url("tl.png") ;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 70px;

}

.tlcontent{

  font-size:13px;
  margin-left: 10px;
  margin-top: 10px;
  

}





#coeur{
 
    display: inline-block;
    height: 83px;
    width:60px ;
  
    background-image: url("coeur1.png");
    background-size: cover;
    background-repeat: no-repeat;
    animation: batement 1s 2;
  }
 
  @keyframes batement {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
#signal{




  height: 206px;
    width:139px ;
  
    background-image: url("signal.png");
    background-size:cover;
    background-repeat: no-repeat;
position: absolute;
    top :90px;
    left: 685px;

  overflow: hidden;
 


  animation: apparition-horizontale 2s ease-in-out ;



}

@keyframes apparition-horizontale {
  0% {
    clip-path: inset(0 100% 0 0); /* Masque toute l'image sauf la partie gauche */
  }
  100% {
    clip-path: inset(0 0 0 0); /* Affiche l'image entièrement */
  }
}
