@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

.special , .Codeholder{
    scroll-behavior: smooth;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #c2e1e410 #c2e1e40a;
}

.special::-webkit-scrollbar ,.Codeholder::-webkit-scrollbar {
    width: .09vw; 
}

.special::-webkit-scrollbar-thumb , .Codeholder::-webkit-scrollbar-thumb {
    background-color: #c2e1e410;
}

.special::-webkit-scrollbar-track , .Codeholder::-webkit-scrollbar-track {
    background-color:  #c2e1e410; /* Hide the track */
}

:root{
    --liniarColor : linear-gradient(320deg, rgb(0, 238, 255), rgb(0, 0, 0));
    --bgColor : rgba(77, 231, 239, 0.672);
    --bgColor : rgb(255, 255, 255);
    --bgColor2 : rgb(209, 235, 235);
    --fontColor : rgb(42, 42, 42);
}


body {
    scroll-behavior: smooth;
    height: 100vh;
    width: 100%;
    background: var(--bgColor);
    backdrop-filter: blur(90px);
    overflow-x: hidden; /* to prevent horizontal scrollbar */
    

}

aside {
    
    /* width: 7%; */
    padding: 30px 15px;
    background-color: rgba(255, 255, 255, 0.226);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 400ms;
    overflow: hidden;
    position: sticky;
    top: 0;
    float: left;
}

.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    width: 60px;
    overflow: hidden;
    padding: 10px;
    border-radius: 8px;
    margin-inline: auto;
    /* background-color: aliceblue; */
    transition: width 300ms;
}

.user div{
    margin-right: 25px;
}

.user img{
    width: 50px;
    height: 50px;
}

.user div>h2 {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
}
.user div>p {
    font-size: 11px;
    color: rgb(146, 146, 146);
}

.UL_aside{
    list-style: none;
    
}

.UL_aside li {
    width: max-content;
    /* width: 110%; */
    display: flex ;
    align-items: center;
    justify-content: center;
    margin:30px 0;
    margin-left: -12px;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 100%;
    background-color: transparent;
    padding-block: 5px;
    transition: background-color 500ms ease-out , border-left 200ms ease;
    /* border-left: 3px solid; */
}

.UL_aside li:hover{
    border-left: 1px solid gray;
    background-color: rgba(10, 135, 245, 0.266);
    
}

.UL_aside li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.UL_aside li a {
    text-decoration: none;
    /* font-size: 1px; */
    color: rgb(81, 80, 80);
    display: none;
}

.Logout{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 17px;
    padding: 6px 0;
    /* width: 60%; */
    width: 66%;
    overflow: hidden;
    margin-left: 12px;
    border-radius: 8px;
    border: none;
    background: rgb(255, 2, 36);
    color: #eee;
    /* width: 100%; */
}
.Logout i {
    width: 28px;
    height: 28px;
    margin-left: 12px;
    margin-top: 8px;
    
    color: aliceblue;
}

.Logout p {
    
    margin-left: 22px;
}

aside:hover .user {
    width: 90%;
    /* width: max-content; */
    background-color: #c2e1e4;
}
aside:hover .UL_aside li a {
    display: block;
}

aside:hover .UL_aside li{
    justify-content: flex-start;
}

main{
    height: 100%;
    transition: margin-left 300ms;
}

header{
    padding: 8px ;
    background-color: rgb(255, 255, 255);
    position: sticky;
    z-index: 100;
    top: 0;

}

h2{
    font-weight: 600;
}

header h2{
    font-weight: 700;
    color: black;
}

header h2 a{
    text-decoration: none;
    color: #5fd3de;
}


.Codeholder{
    margin-inline: 1%;
    margin-block: 5px;
}

.Codeholder {
    margin-inline: 1%;
    margin-block: 5px;
    height: 90vh;
    /* text-align: center; */
    overflow-y: scroll;
}

.liner{
    display: grid;
    width: 100%;
    grid-template-columns: 7% 65% 30%;
    position: relative;
}

.navdoc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
}

.recherchedocs{
    width: 300px;
    height: 35px;
    font-size: 16px;
    margin-left: 20px;
    text-indent: 8px;
    outline: none;
    border-radius: 7px;
    border: 1px solid #a0a0a0;
    background-image: url(/adminpics/search-sort-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 97% center;
}

.optionBtn{
    display: flex;
    background-color: white;
}

.choixsl {
    background-color: rgb(227, 227, 227);
    height: 35px;
    width: 100px;
    outline: none;
    color: rgb(117, 117, 117);
    margin-right: 5px;
    border-radius:20px;
    border: 1px solid transparent; 
}

.selected{
    transition: background-color 500ms;
    color: rgb(249, 247, 247);
    background-color: #5fd3de;
}

.docsTab {
    margin-left: 20px;
    width: 100%;
    /* height: 95%; */
    /* border-collapse: collapse; */
    background-color: rgb(248, 244, 244);
    
}


.docsTab th:nth-child(3) , .docsTab th:nth-child(3){
    text-align: left;
}

.docsTab th,.docsTab td {
    border-top: 1px solid #a0a0a056;
    border-bottom: 1px solid #a0a0a056;
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    color: #2d2d2d;
    width: max-content;
}

.docsTab td{
    height: 70px;
    text-align: left;
    color: rgb(78, 77, 77);
    font-size: .95rem;
    font-weight: 400;
}

.docsTab tr{
    transition: background-color 400ms;
}

.docsTab tr:hover{
    background-color: #26a9ef1c;
}

.tabholder{
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.nomtd{
    text-indent: 15px;
}

.nomth{
    width: 100px;   
}

.delViewBtns{
    display: flex;
    align-items: center;
    width: 100px;
}

.del{
    margin-right: 15px;
    background-color: rgb(221, 35, 60);
    font-size: 16px;
    width: 100px;
    height: 35px;
    border-radius: 8px;
    color: white;
    border: none;
    outline: none;
    transition: all 400ms;
}

.del:hover{
    background-color: rgb(255, 0, 0);
}

.view:hover{
    background-color: #3ad9e7;
}

.view{
    display: block;
    background-color: #3facb6;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border: none;
    width: 100px;
    height: 35px;
    text-align: center;
    border-radius: 8px;
    transition: all 400ms;
}


.secondAside{
    margin-top: 55px;
    /* background-color: #5fd4de41; */
}

.cntr{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: -2px 2px 10px rgba(128, 128, 128, 0.53);
}

#serviceSelecter{
    height: 45px;
    width: 80%;
    font-size: 15px;
    border: 1px solid rgb(193, 193, 193);
}

.cntr > form{
    width: 100%;
}

.cntr > h2{
    margin-top: -60px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #555454;
}

.cntr > img{
    height: 80px;
    width: 80px;
    margin-bottom: 30px;
}

.firstCollection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.next{
    background-image: url("/adminpics/arrow-direction-forward-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    
}

.back{
    background-image: url("/adminpics/arrow-direction-forward-svgrepo-com.svg");
    background-repeat: no-repeat;
    transform: scaleX(-1);
    background-size: 30px;
    background-position: center;
    margin-right: 10px;
}

.btnholder{
    display: flex;
}

.firstCollection input{
    height: 50px;
    border-radius: 9px;
    outline: none;
    border: 1px solid rgb(193, 193, 193);
    width: 80%;
    margin-bottom: 20px;
    font-size: 15px;
    text-indent: 8px;
}

.SecondCollection{
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.SecondCollection input{
    height: 50px;
    border-radius: 9px;
    outline: none;
    border: 1px solid rgb(193, 193, 193);
    width: 80%;
    margin-bottom: 20px;
    font-size: 15px;
    text-indent: 8px;

}

.thirdCollection{
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.styledbtn{
    height: 35px;
    width: 80px;
    margin-top: 30px;
    background-color: #17acb9;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
}


.hidden{
    display: none;
}

.showen{
    display: flex;
}

.bolls{
    margin-left: 15px;
    margin-top: 40px;
    display: flex;

}

.rounded{
    margin-right: 15px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    border: 1px solid rgba(78, 78, 78, 0.483);
    background-color: white;
}

.turn{
    transition: background-color 300ms ease-in;
    border: none;
    background-color: #17acb9;
}