<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="correct-integrity-value" crossorigin="anonymous">
    <link rel="stylesheet" href="css/patient.css">
    <title>Patient</title>
</head>
<body>
    <div class="liner">
    <aside>
            <div class="user">
                <img src="iconsP/icons8-user-50.png" alt="User image">
                <div>
                    <h2>Brahimi Rayan</h2>
                    <p>email@gmail.com</p>
                </div>
            </div>

        <ul class="UL_aside">
            <li><img src="iconsP/icons8-dashboard-layout-48.png" alt=""><a href="">Accueil</a></li>
            <li><img src="iconsP/icons8-reservation-50.png" alt=""><a href="">Reserver</a></li>
            <li><img src="iconsP/icons8-bookmark-48.png" alt=""><a href="">Mes Reservation</a></li>
            <li><img src="iconsP/icons8-settings-50.png" alt=""><a href="">Settings</a></li>
            
        </ul>

        <form action="">
            <button type="submit" class="Logout"><i class="fas fa-power-off"></i> Logout</button>
        </form>

        <div class="spacer"></div>
    </aside>

    <main>
        <header>
            <h2>First page</h2>
        </header>

        <div class="Codeholder">